@import url("./syles/navbar.css");
@import url("./syles/cabeçalho.css");
@import url("./syles/seçao.css");
@import url("./syles/vagas.css");


:root{

    --fonte-Principal: font-family: 'Inter';
    --cor-cinza: color: #667085;
    --cor-fundo: backgrond: #ffff;
    --cor-vermelha: color: #8E2424;
    --cinza-escuro: color: #101828;
}

body{
    background: var(--cor-fundo);
}

