@import url("./syles/navbar.css");
@import url("./syles/cabeçalho.css");
@import url("./syles/seçao.css");
@import url("./syles/vagas.css");
@import url("./syles/trabalho.css");
@import url("./syles/depoimento.css");
@import url("./syles/rodape.css");


:root{

    --fonte-Principal: 'Inter';
    --cor-cinza: #667085;
    --cor-fundo: #ffff;
    --cor-vermelha: #8E2424;
    --cinza-escuro: #101828;
}

body{
    background: var(--cor-fundo);
}

