.cabeçalho{
    text-align: center;
}

.cabeçalho__texto.foco{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #8E2424;
    padding: 85px 0 0.5em ;

}

.cabeçalho__titulo{
    color: #101828;;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 48px;
    padding: 24px;
}

.cabeçalho__texto{
    color: #667085;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 20px;


}
    