nav{
    margin: 30px;
}

.navegacao{
    display: flex;
    align-items: center;
    
}

.navegacao__logo{
    font-family: var(--fonte-Principal);
    font-weight: 500;
    font-size: 18px;
    align-items: center;
    text-align: left; 
    
}

.navegacao__img{
    margin: 0 0.5em 0 6em ;
    align-items: center;
   
}

.nave{
    display: flex;
    justify-content: center;
    margin: auto;
}
  

.navegacao__pag{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-weight: 500;
    color: #667085;
    
    padding: 10px 18px;
    align-items: center;


}

.navegacao__acesso{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-weight: 500;
    color: #667085;
    padding: 10px 18px;
    gap:8px;
    margin-top: 5px;
}

.botao{
    border-radius: 8px;
    border: 1px solid #8E2424;
    background: #8E2424;
    color: #ffff;
    margin-top: 5px;
    text-align: center;


}






