main{
    margin: 45px;
}

.container{
    display: flex;
    margin: 96px 32px 96px 50px ;
    align-items: center;
    

}

.container__titulo{
    color:var(--cor-vermelha);
    font-family: 'inter';
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 24px;
    text-align: left;
    
}

.container__subtitulo{
   color: var(--cinza-escuro);
   font-family: 'inter';
   font-weight: 500;
   font-size: 18px;
   text-align: left;
   margin: 0 1em ;
   
   
}

.container__texto{
   color: var(--cor-cinza);
   font-family: 'inter';
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   overflow-wrap: break-word;
   margin: 0 1em;
   text-align: left;
   
}